* {
  box-sizing: border-box;
}

:root {
  --dark-blue: rgb(27, 40, 49);
  --dark-blue-hover: rgba(27, 40, 49, 0.8);
  --medium-blue: rgb(61, 79, 93);
  --medium-orange: rgb(175, 86, 62);
  --medium-orange-hover: rgba(223, 145, 123, 0.7);
  --dark-purple: rgb(63, 20, 133);
  --dark-purple-hover: rgba(63, 20, 133, 0.8);
  --violet: rgb(138, 101, 211);
  --blue: rgb(29, 100, 154);
  --rose: rgb(235, 164, 145);
  --text-light: rgb(241, 249, 255);
  --text-dark: rgb(27, 27, 27);
  --bg-light: rgb(245, 251, 255);
  --white: rgb(255, 255, 255);
  --light-yellow: rgb(226, 192, 80);
  --yellow: rgb(233, 194, 66);
  --golden: rgb(161, 124, 0);
  --dark-yellow: rgb(75, 58, 1);

  background-color: var(--bg-light);
  color: var(--text-light);
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
}

.home-title {
  text-align: center;
  padding: 20px 0;
  background-color: var(--dark-blue);
  border-radius: 5px;
  width: 70%;
}

.aria-icon {
  text-align: center;
  background-image: url("/images/Aria.jpg");
  background-position: center;
  background-size: cover;
}

.poudlard-icon {
  text-align: center;
  background-image: url("/images/poudlard.jpg"); 
  background-position: center;
  background-size: cover;
}

.pathfinder-icon {
  text-align: center;
  background-image: url("/images/pathfinder.jpg"); 
  background-position: center;
  background-size: cover;
}

.goldensun-icon {
  text-align: center;
  background-image: url("/images/goldensun.png"); 
  background-position: center;
  background-size: cover;
}

.card {
  width: 100%;
  height: 200px;
  border: 3px solid var(--bg-light);
  border-radius: 10px;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 2px var(--dark-blue);
  margin: 0;
}

.title {
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.link-card {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 220px;
}

/* 
-----------------------------------------------------
                    NAVBAR 
-----------------------------------------------------
*/

.nav-section {
  width: 100%;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  padding: 0 5px 3px 5px;
  margin-top: 10px;
  color: var(--text-light);
  text-shadow: 1px 1px 2px var(--dark-blue);
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}

/* 
-----------------------------------------------------
                    PAGE DETAIL 
-----------------------------------------------------
*/

.page-header {
  width: 100%;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-body-page {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  flex-grow: 1;
}

#nb-games {
  width: 90%;
  align-items: flex-start;
}

.pj-recap {
  display: flex;
  justify-content: space-between;
  color: var(--text-dark);
  width: 70%;
  margin: 20px 0;
}

.pj-recap-dice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.pj-recap-crit {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.pj-recap-crit p:first-child {
  margin-bottom: 10px;
}

.dice-info {
  margin: 0;
  text-align: center;
}

.pj-recap article {
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.poudlard-color {
  background-color: var(--medium-blue);
  color: var(--text-light);
}

.poudlard-hover {
  box-shadow: 0 0 10px 6px var(--dark-blue-hover);
  background-color: var(--dark-blue-hover);
}

.poudlard-hover:hover {
  box-shadow: 0 0 10px 5px var(--blue);
}

.poudlard-button {
  background-color: var(--dark-blue);
  color: var(--text-light);
}

.poudlard-article {
  border: 1px solid var(--medium-blue);
  margin-bottom: 20px;
}

.poudlard-color-title {
  background-color: var(--medium-blue);
  border-radius: 3px 3px 0 0;
  color: var(--text-light);
  text-shadow: 2px 2px 2px var(--text-dark);
}

.aria-article {
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
}

.aria-color {
  background-color: var(--rose);
  color: var(--text-dark);
}

.aria-hover {
  box-shadow: 0 0 10px 6px var(--medium-orange-hover);
  background-color: var(--medium-orange-hover);
}

.aria-hover:hover {
  box-shadow: 0 0 10px 5px var(--medium-orange);
}

.aria-button {
  background-color: var(--medium-orange);
  color: var(--text-light);
}

.aria-color-title {
  background-color: var(--medium-orange);
  color: var(--text-light);
  border-radius: 3px 3px 0 0;
  text-shadow: 2px 2px 2px var(--text-dark);
}

.aria-article {
  border: 1px solid var(--medium-orange);
  margin-bottom: 20px;
}

.pathfinder-color {
  background-color: var(--violet);
  color: var(--text-light);
}

.pathfinder-hover {
  box-shadow: 0 0 10px 6px var(--dark-purple-hover);
  background-color: var(--dark-purple-hover);
}

.pathfinder-hover:hover {
  box-shadow: 0 0 10px 5px var(--violet);
}

.pathfinder-button {
  background-color: var(--dark-purple);
  color: var(--text-light);
}

.pathfinder-article {
  border: 1px solid var(--dark-purple);
  margin-bottom: 20px;
}

.pathfinder-color-title {
  background-color: var(--violet);
  border-radius: 3px 3px 0 0;
  color: var(--text-light);
  text-shadow: 2px 2px 2px var(--text-dark);
}

/* ---------------------------
    GOLDEN SUN 
    __________________________
*/
.goldensun-article {
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
}

.goldensun-color {
  background-color: var(--yellow);
  color: var(--text-dark);
}

.goldensun-hover {
  box-shadow: 0 0 10px 6px var(--golden);
  background-color: var(--yellow);
}

.goldensun-hover:hover {
  box-shadow: 0 0 10px 5px var(--yellow);
}

.goldensun-button {
  background-color: var(--golden);
  color: var(--light-red);
}

.goldensun-color-title {
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 3px 3px 0 0;
  text-shadow: 2px 2px 2px var(--dark-yellow);
}

.goldensun-article {
  border: 1px solid var(--dark-yellow);
  margin-bottom: 20px;
}
/* --------------------------------------------- */

.link-button {
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
}

.pj-recap h3 {
  margin-bottom: 0;
}

.pj-recap h4 {
  margin: 10px 0 10px 0;
}

.info-title {
  font-size: 18px;
  text-align: center;
  height: 100px;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 10px;
}

.card:hover {
  border: 3px solid var(--blue);
}

.stats-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--text-dark);
  width: 95%;
}

.stats-section article {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1fr);
  padding: 0;
}

.stats-section h3 {
  grid-column: 1/4;
  grid-row: 1/1;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  align-content: center;
}

#pathfinder-stats-section h3 {
  grid-column: 1/5;
}

.stats-section div {
  grid-row: 2/5;
  justify-self: center;
  align-content: center;
}

.stats-section h4 {
  margin: 10px 0;
  text-align: center;
}

.stats-section p {
  margin: 5px 0;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* AFFICHAGE MOBILE */

@media (max-width: 400px) {
  .pj-recap {
    width: 98%;
    margin: 10px 0;
  }

  .pj-recap article {
    margin: 0 2px;
  }

  .round {
    min-width: 30px;
    min-height: 30px;
  }

  .link-card {
    width: 90%;
    height: 160px;
  }

  .card {
    height: 150px;
  }

  .home-title {
    width: 90%;
  }

  .title {
    height: 50px;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 401px) and (max-width: 700px){

  .pj-recap {
    padding: 0 5px;
    width: 100%;
  }

  .link-card {
    width: 90%;
    height: 200px;
  }

  .card {
    height: 180px;
  }

  .pj-recap article {
    margin: 0 5px;
  }

  .stats-section p, .pj-recap p {
    font-size: 14px;
  }

  #nb-games {
    font-size: 1.2rem;
  }

  .home-title {
    width: 90%;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1280px) {
  .pj-recap {
    width: 90%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-height: 450px) {
  .title {
    height: 50px;
  }

  .pj-recap {
    margin: 10px 0;
  }

  .pj-recap h3 {
    margin-top: 0;
  }

  .pj-recap-crit {
    margin: 5px;
  }

  .pj-recap-crit p:first-child {
    margin-bottom: 5px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
  }
}